[Unit]
Description=casjay.link url shortner
Documentation=https://casjay.link
After=network.target
#Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
ExecStart=/usr/local/bin/npm run dev
WorkingDirectory=/var/lib/node/url
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=casjay-link
#User=<alternate user>
#Group=<alternate group>
#Environment=NODE_ENV=production PORT=2550

[Install]
WantedBy=multi-user.target

